body {
  background-color: #ffffff;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* div {
  border: 1px solid black;
} */

.Btn {
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}


.btn--add {
  color: white;
  background-color: #e60000;
  border: none;
}

.btn--increase {
  background-color: white;
  color: #e60000;
  border-color: #e60000;
}
.btn--decrease {
  background-color: white;
  color: #737373;
  border-color: #737373;
}

.btn--square {
  width: 40px;
  height: 40px;
  text-align: center;
}

.btn--large {
  width: 100%;
  padding: 10px;
}

.btn--medium {
  width: 100%;
  padding: 8px;
}

.btn--small {
  width: 30px;
  height: 30px;
}

::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757575;
}